@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
  -webkit-text-size-adjust: none;
  @apply min-h-dvh;
}

.blur-overlay {
  @apply bg-white/0 backdrop-blur-md;
}

.blur-border {
  @apply border-white/50;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px ;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px ;
  }
  .font-outline-8 {
    -webkit-text-stroke: 8px ;
  }
}
