@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  user-select: none;
  overscroll-behavior: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* @apply min-h-dvh; */
}

:root {
   --blur-amount: 8px;
  --border-opacity: 0.5;
  --background-color: transparent;
  --ui-zoom-scale: 1;
}

#zoom-container {
  transform: scale(var(--ui-zoom-scale));
  transform-origin: top left;
  width: calc(100vw / var(--ui-zoom-scale));
  height: calc(100vh / var(--ui-zoom-scale));
}

.blur-overlay {
  @apply backdrop-blur-[var(--blur-amount)] bg-[var(--background-color)];
}

.blur-border {
  @apply border-white/[var(--border-opacity)];
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px;
  }
  .font-outline-3 {
    -webkit-text-stroke: 3px;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px;
  }
  .font-outline-8 {
    -webkit-text-stroke: 8px;
  }
}

.szh-menu-custom > ul {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.content-safe-area {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

@layer components {
  .karaoke-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    /* height: 100dvh;
    width: 100vw; */
    /* overflow: hidden; */
  }
}
